@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        <div>
            Data: <input name="data" type="text" required/>
        </div>        
        <input type="submit">
    </form>        
</div>